/* .left{
    position: absolute;
    width: 72%;
    transform: rotate(-90deg);
    right: 702px;
}

.right{
    position: absolute;
    width: 72%;
    transform: rotate(90deg);
    left: 512px;
} */